<footer class="site-footer">
    <figure class="site-footer__logo">
        <img src="/img/logo-light.png">
    </figure>
    <p class="site-footer__info">Relatives is a project by <a href="http://levimcg.com/" target="_blank">Levi McGranahan</a>. Read more about it <a href="/about">here</a>.</p>
</footer>

<!-- Load any scripts that you can here to help with load time -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
<script src="/js/scripts.js"></script>
{% include ga-code.html %}
