// Border radius with vendor prefixes
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
         -o-border-radius: $radius;
            border-radius: $radius;
}

// Just specify the values for you box shadows
@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
       -moz-box-shadow: $shadow;
         -o-box-shadow: $shadow;
            box-shadow: $shadow;
}

// CSS transitions
@mixin trans($property-params, $time-params){
    -webkit-transition: $property-params $time-params ease;
       -moz-transition: $property-params $time-params ease;
        -ms-transition: $property-params $time-params ease;
         -o-transition: $property-params $time-params ease;
            transition: $property-params $time-params ease;
}

// A clear fix if you need it
@mixin clear-fix {
    &:after {
        clear: both;
        content: "";
        display: block;
    }
}

// Media query mixin. Specify your breakpoint ($size) then add selectors and styles
//
// Example:
// @include media(800px) {
//     div {
//         float: left;
//         background-color: red;
//     }
// }

@mixin media($size) {
    @media screen and (min-width: $size) { @content; }
}

// ** Tint the color property. It's good for making subtle color changes.**
//
// Example:
// @include tint-color(black, $color-text, 10%);

@mixin tint-color($blackwhite, $color, $percent) {
    color: mix($blackwhite, $color, $percent);
}

// ** Tint the background-color property. It's good for making subtle color changes.**
//
// Example:
// @include tint-background(black, $color-text, 10%);

@mixin tint-background($blackwhite, $color, $percent) {
    background-color: mix($blackwhite, $color, $percent);
}
